

body{
  font-family: 'Lato', sans-serif;
  background-image: url(./img/netflix-christmas.jpg);
  background-size: 1780px;

}

.flag{
  width: 30px;
}

.poster{
  width:200px;
}

.teaser{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
